<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="40929kodevreni.ekili" Publisher="CN=9001025F-0701-4658-8B99-83CCE72CD67B" Version="2.1.0.0" />
  <Properties>
    <DisplayName>Çekiliş</DisplayName>
    <PublisherDisplayName>kodevreni</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Cekilis_Windows.App">
      <m2:VisualElements DisplayName="Çekiliş" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="http://www.kodevreni.com" ForegroundText="light" BackgroundColor="#00A8EC">
        <m2:DefaultTile ShortName="Çekiliş">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\AcilisEkrani.png" BackgroundColor="#00A8EC" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>